*.egg
*.ini
*.egg-info
*.pyc
*$py.class
*~
__pycache__
.coverage
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
*.sqlite
.vagrant
*.log
log/*.log.*
.pip-cache
wheels
*.dump*
*.out
.cache
.pytest_cache/
htmlcov/
Session.vim
